.about-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: gray;

  font-size: $section-fz-mobile;
  @media screen and (min-width: $tablet) {
    font-size: $section-fz-desktop;
  }

  @media screen and (min-width: $tablet) and (max-width: calc($tablet + 2rem)) {
    max-width: 90vw;
  }

  @media screen and (min-width: $desktop) {
    max-width: 70vw;
  }

  @media screen and (min-width: $desktop-wide) {
    max-width: 50vw;
  }

  & > p {
    vertical-align: middle;
  }
}

.description-link {
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    position: relative;

    &:hover,
    &:focus-visible {
      filter: brightness(1.3);
    }

    &::after {
      content: '';

      position: absolute;
      bottom: -2px;
      right: 0;

      width: 0;
      height: 2px;
      background-color: currentColor;

      $td: 500ms;
      transition: width $td, left $td, background-color $td;
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}
