.contacts-section-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 100px;
  }

  @media screen and (min-width: $desktop-wide) {
    gap: 150px;
  }
}

.contacts-list {
  @media screen and (max-width: $tablet-1) {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    margin-top: 10px;
  }
}

.contacts-list-item {
  display: flex;
  align-items: center;

  font-size: $section-fz-mobile;

  @media screen and (max-width: $tablet-1) {
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    font-size: $section-fz-desktop;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.contact-link {
  @extend %link;

  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    gap: 20px;
    margin-bottom: 0.4rem; // for centering
  }
}

.contact-link-text {
  @media screen and (max-width: $tablet-1) {
    display: none;
  }
}

.contact-link-mobile-caption {
  font-size: 1.2rem;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.contact-link-icon-wrapper {
  background-color: var(--accent-color);
  padding: 10px;
}

.contact-link-icon {
  --size: 4rem;

  // background-color: var(--background-color);

  @media screen and (min-width: $tablet) {
    --size: 2.2rem;
  }

  height: var(--size);
  width: var(--size);

  fill: var(--background-color);
  transition: fill $scheme-switch-duration $scheme-switch-timing-function;
}
