#gallery {
  $td: 300ms;

  &.slide-out {
    animation: slide-out-to-right $td ease-out forwards;

    @media screen and (min-width: $desktop) {
      animation: fade-out $td ease-out forwards;
    }
  }

  &.slide-in {
    animation: slide-in-from-right $td ease-in forwards;

    @media screen and (min-width: $desktop) {
      animation: fade-in $td ease-out;
    }
  }
}

.section#projects {
  .section-content {
    @media screen and (min-width: $tablet) {
      position: relative; // for view switch positioning
    }
  }
}

.projects-view-switch {
  @extend %link !optional;

  text-transform: lowercase;

  display: block;
  margin-left: auto;

  @media screen and (max-width: $tablet-1) {
    // position: static;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: $horizontal-offset;
    top: -50px;
  }

  @media screen and (min-width: $desktop) and (max-width: $desktop-wide-1) {
    right: 0;
  }

  border: none;
  background-color: transparent;
  transition: color $scheme-switch-duration;
}

// Gallery item (project card)

.card-title {
  @extend %link !optional;

  cursor: pointer;
  user-select: none;

  @media screen and (max-width: $tablet-1) {
    // text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
  }

  text-transform: lowercase;
  font-size: 2rem;

  &.content-expanded {
    color: currentColor;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;

    &::after {
      content: '»';
      color: var(--swaying-icon-color);

      opacity: 0;
      transition: opacity 600ms;
    }

    &:not(.content-expanded):hover {
      &::after {
        animation: slide-and-fade 2s infinite 600ms;
      }
    }
  }

  .project-card-list.gallery-view & {
    @extend %visually-hidden;
  }
}

// List view

.list-card.collapsible {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;

  height: max-content;

  $duration: 400ms;
  $function: ease-in; // don't change!

  transition: max-height $duration $function, opacity $duration $function;

  &.animated {
    opacity: 1;
  }

  .project-card-list.gallery-view & {
    display: none;
  }
}

.list-card-image-block {
  grid-area: image;

  @media screen and (min-width: $tablet) {
    margin-top: 5px; // to align evenly with .project-type
  }

  box-shadow: 1px 1px 5px var(--list-card-image-shadow);

  @media screen and (min-width: $desktop) {
    aspect-ratio: 16/9;
    align-self: center; // as a grid element
  }
}

.modal-image-block {
  box-shadow: 0px 1px 1px var(--list-card-image-shadow);
}

.project-links-wrapper {
  grid-area: buttons;
  align-self: end; // as a grid element

  display: flex;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.project-link {
  @extend %button !optional;

  font-size: 1.5rem;

  width: calc(50% - 5px);

  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    width: auto;
  }
}

.list-card-summary {
  grid-area: summary;
}

.list-card-description {
  grid-area: description;
}

.list-card-wrapper {
  margin: 1rem 0;
  @media screen and (min-width: $tablet) {
    margin: 1rem 0 2rem 1rem;
  }
  @media screen and (min-width: $desktop) {
    margin: 2rem 0 2rem 2rem;
  }

  display: grid;

  row-gap: 10px;

  @media screen and (min-width: $tablet) {
    column-gap: 20px;
    row-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 30px;
  }

  grid-template-areas:
    'summary'
    'image'
    'description'
    'buttons';

  grid-template-rows: auto;
  grid-template-columns: 1fr;

  @media screen and (min-width: $tablet) {
    grid-template-columns: 65% 1fr;

    grid-template-areas:
      'image summary'
      'image buttons'
      'description description';
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 45%;

    grid-template-areas:
      'image summary'
      'image description'
      'image buttons';
  }

  @media screen and (min-width: $desktop-wide) {
    grid-template-columns: 50% 1fr 5%;

    grid-template-areas:
      'image summary'
      'image description'
      'image buttons';
  }
}

// Gallery view

.project-card-list {
  &.gallery-view {
    display: flex;

    flex-direction: column;
    gap: $unit-gap * 1.5;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: $unit-gap;
    }
  }
}

.tile-card {
  display: none;

  .project-card-list.gallery-view & {
    display: block;
  }

  width: 100%;
  height: max-content;
  aspect-ratio: 16 / 9;

  @media screen and (min-width: $tablet) {
    width: calc(($tablet - $unit-gap - $container-padding-tablet * 2) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc(
      (
          $desktop - $horizontal-offset * 2 - $unit-gap * 2 -
            $container-padding-desktop * 2
        ) / 3
    );
  }

  @media screen and (min-width: $desktop-wide) {
    width: calc(
      (
          $desktop-wide - $horizontal-offset * 2 - $unit-gap * 2 -
            $container-padding-desktop * 2
        ) / 3
    );
  }

  .tile-card-link {
    display: block; // for 3d effects
    width: 100%;
    height: 100%;

    position: relative;

    // Make the entire tile clickable to its containing link - solution courtesy of Vadim Makeyev
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      z-index: $index-tile-card-link-pseudo;
    }
  }
}

.project-card-picture-element {
  height: 100%;
  width: 100%;
}

.project-card-image {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

// Card elements

.project-description {
  text-align: justify;
}

.field-type {
  opacity: 0.5;
}

.technologies {
  color: var(--accent-color);
  transition: color $scheme-switch-duration;
}

// Flip cards in gallery view

.flip-card {
  width: 100%;
  height: 100%;
  perspective: 2000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

  border: 1px solid rgba(darkgray, 0.2);
}

@media screen and (min-width: $tablet) {
  .flip-card:hover .flip-card-inner,
  .flip-card:focus-visible .flip-card-inner {
    transform: rotateY(180deg);
  }
}

.flip-card:focus-visible {
  outline: 3px solid var(--text-color);
  outline-offset: 2px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: var(--text-color);
}

.flip-card-back {
  background-color: var(--flip-card-bg);
  color: var(--flip-card-text);
  transform: rotateY(180deg);

  text-align: left;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.flip-card-project-name {
  margin-bottom: 15px;
}

.tile-card-project-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  & .technologies {
    color: currentColor;
  }
}

.flip-card-prompt-to-click {
  justify-self: end;
  align-self: flex-end;
}
