.section {
  z-index: $index-section; // in order for :before to take effect

  // @media screen and (max-width: $tablet-1) {
  //   // Swiper effect:
  //   // min-width: 100vw;
  //   // max-height: max-content;

  //   margin-top: 15vh;
  //   margin-bottom: 10vh;
  // }

  @media screen and (min-width: $tablet) {
    margin: 100px 0;

    &:not(:first-child) {
      display: none; // initially hide all sections but first
    }
  }

  .section-title {
    text-transform: lowercase;
    user-select: none;

    // @media screen and (max-width: $tablet-1) { // prev version
    // display: inline-block;
    // overflow-x: hidden;
    // padding-left: $horizontal-offset;
    // font-size: 4rem;
    // margin-bottom: 40px;
    // }

    @media screen and (max-width: $tablet-1) {
      visibility: hidden;
      max-height: 0;
      margin-bottom: 5vh;
    }

    @media screen and (min-width: $tablet) {
      font-size: 5rem;
      margin-bottom: 60px;
    }
  }

  .section-content {
    $first-animation-duration: 1.5s;

    animation: fade-in $first-animation-duration 0.5s both;

    @media screen and (min-width: $tablet) {
      animation: fade-in $first-animation-duration 1s both;
    }

    padding-left: $horizontal-offset;
    padding-right: $horizontal-offset;

    @media screen and (max-width: $tablet-1) {
      margin-bottom: 10vh;
    }
  }
}
