.section {
  z-index: $index-section; // in order for :before to take effect

  @media screen and (min-width: $tablet) {
    margin: 100px 0;

    &:not(:first-child) {
      display: none; // initially hide all sections but first
    }
  }

  .section-title {
    text-transform: lowercase;
    user-select: none;

    @media screen and (max-width: $tablet-1) {
      visibility: hidden;
      max-height: 0;
      margin-bottom: 5vh;
    }

    @media screen and (min-width: $tablet) {
      font-size: 5rem;
      margin-bottom: 60px;
    }
  }

  .section-container {
    @media screen and (min-width: $desktop) {
      padding-left: $horizontal-offset;
      padding-right: $horizontal-offset;
    }
  }

  .section-content {
    $first-animation-duration: 1.5s;

    animation: fade-in $first-animation-duration 0.5s both;

    @media screen and (min-width: $tablet) {
      animation: fade-in $first-animation-duration 1s both;
    }

    @media screen and (max-width: $tablet-1) {
      margin-bottom: 10vh;
    }
  }
}
