.footer {
  @extend .container !optional;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  position: fixed;
  bottom: 0;
  z-index: $index-header;

  height: 50px;
  width: 100%;

  transition:
    background-color $scheme-switch-duration $scheme-switch-timing-function,
    color $scheme-switch-duration $scheme-switch-timing-function;

  background-color: var(--background-color);
}

.footer-container {
  height: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-toggle-checkbox {
  appearance: none;
}

.mobile-menu-toggle-label {
  display: flex;

  position: absolute;
  right: 0;

  & .mobile-menu-toggle-icon {
    fill: currentColor;
  }

  &:has(.mobile-menu-toggle-checkbox:checked) {
    color: var(--text-color);
  }

  &:not(:has(.mobile-menu-toggle-checkbox:checked)) {
    color: dimgray;
  }
}

.mobile-menu-toggle-icon {
  $size: 20px;

  height: $size;
  width: $size;
}
