.header {
  position: fixed;
  left: 0;

  z-index: $index-header;

  @media screen and (max-width: $tablet-1) {
    bottom: 49.5px; // initial footer height

    transform: translateY(100%);

    body:has(.mobile-menu-toggle-checkbox:checked) & {
      transform: translateY(0);
    }

    // &:not(:has(.menu-checkbox:checked)) {
    //   &:before {
    //     content: '';
    //     position: absolute;

    //     $offset: 3rem;

    //     left: 0;
    //     // top: calc($offset * -1);
    //     top: calc($offset * -0.95);

    //     width: 100vw;
    //     height: $offset;

    //     pointer-events: none;
    //     z-index: calc($index-main-pseudos - 10);

    //     background: linear-gradient(
    //       to top,
    //       var(--background-color),
    //       transparent
    //     );
    //   }
    // }
  }

  @media screen and (min-width: $tablet) {
    top: 0;
  }

  width: 100vw;
  // height: var(--blurOffset);

  transition:
    background-color $scheme-switch-duration $scheme-switch-timing-function,
    color $scheme-switch-duration $scheme-switch-timing-function,
    transform 200ms;

  background-color: var(--header-bg-color);
}

.header-container {
  @extend .container !optional;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $tablet-1) {
    position: relative;
    background-color: var(--mobile-menu-bg);

    flex-direction: row-reverse;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    gap: 50px;
  }
}

.caption-toggle-label {
  @extend %link !optional;

  display: none;

  @media screen and (max-width: $tablet-1) {
    position: absolute;
    top: 5px;
    right: 10px;

    display: flex;
  }
}

.caption-toggle-icon {
  fill: currentColor;
}

.caption-toggle-checkbox {
  appearance: none;
}

.mobile-headings-wrapper {
  @extend .container !optional;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: $index-header;

  display: flex;
  flex-direction: column;

  height: var(--blurOffset);
  width: 100%;

  background-color: var(--background-color);
}

.mobile-sup-heading {
  text-transform: uppercase;
  margin-top: auto;
}

.mobile-headings {
  display: flex;
  gap: 20px;
}

.mobile-section-title {
  font-size: 4.5rem;
  line-height: 1.3; // ?
  white-space: nowrap;
  user-select: none;

  color: var(--header-nav-link-color);
  transition: color $scheme-switch-duration $scheme-switch-timing-function;

  &:first-child {
    color: var(--header-nav-link-active);
  }
}

.header-nav {
  @media screen and (max-width: $tablet-1) {
    display: none;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;

  gap: 15px;

  @media screen and (min-width: $tablet) {
    gap: 30px;
  }
}

.header-nav-link {
  font-size: 1.2rem;
  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  }

  text-transform: lowercase;
  user-select: none;

  display: block;
  padding: 0.75rem 0 1rem;

  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    padding: 1rem 0 1.5rem;
  }

  color: var(--header-nav-link-color);
  transition: color $scheme-switch-duration $scheme-switch-timing-function;

  &:hover,
  &:focus-visible {
    color: var(--header-nav-link-hover);
  }

  &.active {
    color: var(--header-nav-link-active);
  }
}
