.container {
  @media screen and (min-width: $mobile) {
    width: $mobile;

    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}

@media screen and (min-width: $mobile) and (max-width: calc($tablet - 1px)) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
}
