.container {
  @media screen and (min-width: $mobile) {
    // width: $mobile;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $mobile-wide-1) {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }

  @media screen and (min-width: $mobile-wide) and (max-width: $tablet-1) {
    padding-left: $container-padding-mobile-wide;
    padding-right: $container-padding-mobile-wide;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }

  @media screen and (min-width: $desktop-wide) {
    width: $desktop-wide;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet-1) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
}
