:root {
  /* Hide scrollbar  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

body {
  font-family: 'Segoe WP', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  position: relative;
  --topOffset: 52px; // default, reset via JS

  $spread: 15vh;
  $color: var(--header-bg-color);
  $percentage: 100%;

  &:before {
    content: '';
    position: fixed;
    top: var(--topOffset);
    left: 0;
    width: 100%;
    height: $spread;
    background: linear-gradient(0deg, transparent 0, $color $percentage);
  }

  &:after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $spread;
    background: linear-gradient(180deg, transparent 0, $color $percentage);
  }
}

.section {
  margin: 100px 0;

  &:not(:first-child) {
    display: none; // initially hide all sections but first
  }

  $first-animation-duration: 1.5s;

  .section-title {
    display: inline-block;
    overflow: hidden;

    // animation: left-to-right $first-animation-duration
    //   cubic-bezier(0.75, -0.5, 0, 1.75);
  }

  .section-content {
    animation: fade-in 2s $first-animation-duration both;
  }
}

.section-title {
  font-size: 5rem;
  text-transform: lowercase;
  user-select: none;

  margin-bottom: 60px;
}
