:root {
  /* Hide scrollbar  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

body {
  font-family: 'Segoe WP', sans-serif;

  // &.is-modal-shown {
  //   overflow: hidden;
  // }
}

.section {
  margin-bottom: 100px;
}

.section-title {
  font-size: 5rem;
  margin-left: -0.37rem;
  text-transform: lowercase;

  margin-bottom: 60px;
}

%link {
  color: gray;

  &:hover,
  &:focus {
    color: currentColor;
  }
}
