// Colors
$milky: #f6f6f6;
$white-gray: #f7f7f7;
$light-gray: #dcdcdc;
$dark-gray: #202024;
$blackish: #111111;
$gray: #b4afaf;
$lightblue: #2980b9;
$gold: #eac645;
$green: darkolivegreen;

// Breakpoints
$mobile: 320px;

$mobile-wide: 400px;
$mobile-wide-1: calc($mobile-wide - 1px);

$tablet: 768px;
$tablet-1: calc($tablet - 1px);

$desktop: 1280px;
$desktop-1: calc($desktop - 1px);

$desktop-wide: 1440px;
$desktop-wide-1: calc($desktop-wide - 1px);

// Default section text size
$section-fz-mobile: 1.4rem;
// $section-fz-tablet: 1.6rem;
$section-fz-desktop: 1.6rem;
// $section-fz-desktop-wide: 2rem;

//Regular transitions
$transition-duration: 200ms;
$transition-timing-function: linear;

// Slider bullet transitions
$bullet-td: 600ms;

// Color theme switching transitions
$scheme-switch-duration: 100ms;
$scheme-switch-timing-function: linear;

// Container
$container-padding-mobile: 10px;
$container-padding-mobile-wide: 20px;
$container-padding-tablet: 30px;
$container-padding-desktop: 15px;

// Gaps
$single-gap: 10px;

// Extra horizontal offset on desktop screens (on either side)
:root {
  --horizontal-offset: 0;
  @media screen and (min-width: $desktop) {
    --horizontal-offset: 8rem;
  }
  @media screen and (min-width: $desktop-wide) {
    --horizontal-offset: 6rem;
  }
}
$horizontal-offset: var(--horizontal-offset);

// Z-indices
$index-section: 0;
$index-tile-card-link-pseudo: 1;
$index-main-pseudos: 2;
$index-main: 3;
$index-header: 4;
$index-modal-backdrop: 5;
$index-modal: 6;

// Theme switcher slider
$scheme-switcher-slider-light-gradient-start: white;
$scheme-switcher-slider-light-gradient-end: $white-gray;

$scheme-switcher-slider-dark-gradient-start: gainsboro;
$scheme-switcher-slider-dark-gradient-end: gray;
