@keyframes modal-emerge {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

// Modal
@keyframes slide-in-from-below {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// Gallery
// Slide out TO:
@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

// Slide in FROM:
@keyframes slide-in-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

// Fading
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// List titles animation
@keyframes slide-and-fade {
  from {
    margin-left: 0.5rem;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    margin-left: 1.5rem;
    opacity: 0;
  }
}
