%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%link {
  color: gray;

  &:hover,
  &:focus {
    color: currentColor;
  }
}

%button {
  color: var(--button-text-color);

  background-color: transparent;
  border: 3px solid var(--button-text-color);

  padding: 0.1rem 0.8rem 0.3rem;
  text-transform: lowercase;

  &:hover,
  &:focus-visible {
    color: var(--button-text-hover);
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
  }

  &:active {
    color: var(--button-text-active);
    background-color: var(--button-bg-active);
    border-color: var(--button-bg-active);
  }
}
