%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%glow {
  &::before {
    content: url('/img/glow/glow.webp');
    z-index: -1;
    position: absolute;

    // Example:

    // top: 0%;
    // left: 0%;
    // transform-origin: top center;
    // transform: rotate(-60deg) scale(1.2);
  }
}
