<!-- Color scheme switcher group -->
<label class="menu-label menu-label-scheme" for="scheme-switcher-menu-checkbox">
  <div class="caption-wrapper menu-caption-wrapper">
    <p class="menu-caption" data-loc="colorScheme">Theme</p>
  </div>

  <input
    class="menu-checkbox scheme-switcher-menu-checkbox"
    type="checkbox"
    id="scheme-switcher-menu-checkbox"
    name="scheme-switcher-menu-checkbox"
    aria-label="Toggle the color scheme switcher menu"
    aria-controls="scheme-switcher"
    aria-haspopup="menu"
    aria-expanded="false"
    data-menu-name="scheme"
    data-loc-aria="scheme-switcher-menu-checkbox"
  />

  <svg class="menu-label-icon menu-label-icon-scheme" width="32" height="32">
    <use href="images/symbol-defs.svg#icon-luminosity"></use>
  </svg>
</label>

<!-- Color theme switcher dropdown menu -->
<div class="dropdown-wrapper dropdown-wrapper-scheme">
  <div class="dropdown dropdown-scheme">
    <load ="partials/components/color-scheme-switcher.html" />
  </div>
</div>
<!-- End of color scheme switcher group -->
