<fieldset class="scheme-switcher">
  <legend class="scheme-switcher-legend" data-i18n-key="color-scheme">
    Color scheme
  </legend>

  <label class="scheme-switcher-radio-label" for="light">
    <p class="scheme-switcher-radio-caption" data-i18n-key="light">Light</p>

    <input
      class="scheme-switcher-radio light"
      type="radio"
      id="light"
      name="color-scheme"
      value="light"
      aria-label="light"
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-sun-circled"></use>
    </svg>
  </label>

  <label class="scheme-switcher-radio-label" for="auto">
    <p class="scheme-switcher-radio-caption" data-i18n-key="auto">Auto</p>

    <input
      class="scheme-switcher-radio auto"
      type="radio"
      id="auto"
      name="color-scheme"
      value="auto"
      aria-label="auto"
      checked
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-adjust"></use>
    </svg>
  </label>

  <label class="scheme-switcher-radio-label" for="dark">
    <p class="scheme-switcher-radio-caption" data-i18n-key="dark">Dark</p>

    <input
      class="scheme-switcher-radio dark"
      type="radio"
      id="dark"
      name="color-scheme"
      value="dark"
      aria-label="dark"
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-moon-circled"></use>
    </svg>
  </label>
</fieldset>
