<fieldset class="scheme-switcher" id="scheme-switcher" role="menu">
  <legend class="scheme-switcher-legend" data-loc="colorScheme">
    Color scheme
  </legend>

  <label class="scheme-switcher-radio-label" for="light" role="menuitem">
    <p class="scheme-switcher-radio-caption" data-loc="light">Light</p>

    <input
      class="scheme-switcher-radio light"
      type="radio"
      id="light"
      name="color-scheme"
      value="light"
      aria-label="light"
      tabindex="-1"
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-sun-circled"></use>
    </svg>
  </label>

  <label class="scheme-switcher-radio-label" for="auto" role="menuitem">
    <p class="scheme-switcher-radio-caption" data-loc="auto">Auto</p>

    <input
      class="scheme-switcher-radio auto"
      type="radio"
      id="auto"
      name="color-scheme"
      value="auto"
      aria-label="auto"
      tabindex="-1"
      checked
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-adjust"></use>
    </svg>
  </label>

  <label class="scheme-switcher-radio-label" for="dark" role="menuitem">
    <p class="scheme-switcher-radio-caption" data-loc="dark">Dark</p>

    <input
      class="scheme-switcher-radio dark"
      type="radio"
      id="dark"
      name="color-scheme"
      value="dark"
      aria-label="dark"
      tabindex="-1"
    />

    <svg class="switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-moon-circled"></use>
    </svg>
  </label>
</fieldset>
