<!-- Color scheme switcher group -->
<label class="scheme-switcher-menu-label" for="scheme-switcher-menu-checkbox">
  <div class="switcher-menu-caption-wrapper">
    <p class="switcher-menu-caption" data-loc="colorScheme">Color scheme</p>
  </div>

  <input
    class="scheme-switcher-menu-checkbox"
    type="checkbox"
    id="scheme-switcher-menu-checkbox"
    name="scheme-switcher-menu-checkbox"
    aria-label="Toggle the color scheme switcher menu"
    aria-controls="scheme-switcher"
    aria-haspopup="menu"
    aria-expanded="false"
  />

  <svg class="scheme-switcher-label-icon" width="32" height="32">
    <use href="images/symbol-defs.svg#icon-luminosity"></use>
  </svg>
</label>

<!-- Color theme switcher dropdown menu -->
<div class="scheme-switcher-dropdown-wrapper">
  <div class="scheme-switcher-dropdown">
    <load ="partials/components/color-scheme-switcher.html" />
  </div>
</div>
<!-- End of color scheme switcher group -->
