<!-- Contacts from -->

<div class="contact-form-wrapper">
  <p class="contact-form-title">Drop me a line</p>

  <form class="contact-form" id="contact-form" autocomplete="off">
    <label>
      <input
        class="contact-form-name"
        type="text"
        name="from_name"
        required
        id="name"
        placeholder="With whom do I have the pleasure?"
      />
    </label>

    <label>
      <input
        class="contact-form-email"
        type="email"
        name="from_email"
        id="email"
        placeholder="Your email (optional)"
      />
    </label>

    <label>
      <textarea
        class="contact-form-message"
        name="message"
        required
        id="message"
        placeholder="Your message"
        rows="5"
        autocomplete="off"
      ></textarea>
    </label>

    <button class="contact-form-button" type="submit">Submit</button>
  </form>
</div>
