<!-- Contacts from -->

<div class="contact-form-wrapper">
  <p class="contact-form-title" data-loc="form-title">Drop me a line</p>

  <form class="contact-form" id="contact-form" autocomplete="off">
    <label>
      <input
        class="contact-form-name"
        type="text"
        name="from_name"
        required
        id="name"
        placeholder="With whom do I have the pleasure?"
        data-loc-plc="placeholder-name"
      />
    </label>

    <label>
      <input
        class="contact-form-email"
        type="email"
        name="from_email"
        id="email"
        placeholder="Your email (optional)"
        data-loc-plc="placeholder-email"
      />
    </label>

    <label>
      <textarea
        class="contact-form-message"
        name="message"
        required
        id="message"
        rows="5"
        autocomplete="off"
        placeholder="Your message"
        data-loc-plc="placeholder-message"
      ></textarea>
    </label>

    <button class="contact-form-button" type="submit">Send</button>
  </form>
</div>
