<!-- Fullscreen switcher group -->
<label class="menu-label menu-label-fullscreen" for="fullscreen-menu-checkbox">
  <div class="caption-wrapper menu-caption-wrapper">
    <p class="menu-caption" data-loc="fullscreen-caption">Full screen</p>
  </div>

  <input
    class="menu-checkbox fullscreen-menu-checkbox"
    type="checkbox"
    id="fullscreen-menu-checkbox"
    name="fullscreen-menu-checkbox"
    aria-label="Toggle the full screen mode menu"
    aria-controls="fullscreen-switcher"
    aria-haspopup="menu"
    aria-expanded="false"
    data-menu-name="fullscreen"
    data-loc-aria="fullscreen-menu-checkbox"
  />

  <svg
    class="menu-label-icon menu-label-icon-fullscreen"
    width="32"
    height="32"
  >
    <use href="images/symbol-defs.svg#icon-expand"></use>
  </svg>
</label>

<!-- Fullscreen switcher dropdown menu -->
<div class="dropdown-wrapper dropdown-wrapper-fullscreen">
  <div class="dropdown dropdown-fullscreen">
    <load ="partials/components/fullscreen-switcher.html" />
  </div>
</div>
<!-- End of fullscreen switcher group -->
