<fieldset
  class="switcher fullscreen-switcher"
  id="fullscreen-switcher"
  role="menu"
>
  <legend
    class="switcher-legend fullscreen-switcher-legend"
    data-loc="fullscreen"
  >
    Full screen
  </legend>

  <label
    class="switcher-radio-label fullscreen-switcher-label"
    for="fullscreen-switcher-checkbox"
    role="menuitem"
  >
    <input
      type="checkbox"
      name="fullscreen-switcher-checkbox"
      class="fullscreen-switcher-checkbox"
      id="fullscreen-switcher-checkbox"
      aria-label="Toggle full screen mode"
    />

    <p class="fullscreen-switcher-caption fullscreen-switcher-on" data-loc="on">
      On
    </p>
    <p
      class="fullscreen-switcher-caption fullscreen-switcher-off"
      data-loc="off"
    >
      Off
    </p>

    <div class="fs-slider-wrapper">
      <div class="fs-slider"></div>
    </div>
  </label>
</fieldset>
