<fieldset class="language-switcher" id="language-switcher" role="menu">
  <legend class="language-switcher-legend" data-loc="language">Language</legend>

  <label class="language-switcher-radio-label" for="en" role="menuitem">
    <p class="language-switcher-radio-caption" data-loc="en">Eng</p>

    <input
      class="language-switcher-radio"
      type="radio"
      id="en"
      name="language"
      value="en"
      aria-label="English"
      tabindex="-1"
      checked
    />
  </label>

  <label class="language-switcher-radio-label" for="uk" role="menuitem">
    <p class="language-switcher-radio-caption" data-loc="uk">Ukr</p>

    <input
      class="language-switcher-radio"
      type="radio"
      id="uk"
      name="language"
      value="uk"
      aria-label="Ukrainian"
      tabindex="-1"
    />
  </label>
</fieldset>
