<fieldset class="language-switcher">
  <legend class="language-switcher-legend" data-i18n-key="language">
    Language
  </legend>

  <label class="language-switcher-radio-label" for="en">
    <p class="language-switcher-radio-caption" data-i18n-key="en">Eng</p>

    <input
      class="language-switcher-radio"
      type="radio"
      id="en"
      name="language"
      value="en"
      aria-label="English"
      checked
    />
  </label>

  <label class="language-switcher-radio-label" for="uk">
    <p class="language-switcher-radio-caption" data-i18n-key="uk">Ukr</p>

    <input
      class="language-switcher-radio"
      type="radio"
      id="uk"
      name="language"
      value="uk"
      aria-label="Ukrainian"
    />
  </label>
</fieldset>
