<!-- Language switcher group -->
<label class="menu-label menu-label-language" for="language-menu-checkbox">
  <div class="caption-wrapper menu-caption-wrapper">
    <p class="menu-caption" data-loc="language">Language</p>
  </div>

  <input
    class="menu-checkbox language-menu-checkbox"
    type="checkbox"
    id="language-menu-checkbox"
    name="language-menu-checkbox"
    aria-label="Toggle the language switcher menu"
    aria-controls="language-switcher"
    aria-haspopup="menu"
    aria-expanded="false"
    data-menu-name="language"
    data-loc-aria="language-menu-checkbox"
  />

  <svg class="menu-label-icon menu-label-icon-language" width="32" height="32">
    <use href="images/symbol-defs.svg#icon-globe"></use>
  </svg>
</label>

<!-- Language switcher dropdown menu -->
<div class="dropdown-wrapper dropdown-wrapper-language">
  <div class="dropdown dropdown-language">
    <load ="partials/components/language-switcher.html" />
  </div>
</div>
<!-- End of language switcher group -->
