<section class="section" id="about">
  <div class="container section-container">
    <h2 class="section-title" id="about-title" data-loc="about">About me</h2>

    <div class="section-content">
      <div class="about-description">
        <p data-loc="about-par-1">
          Hi, I'm Mykhailo, a web developer from Ukraine.
        </p>
        <p data-loc="about-par-2">
          I code in JavaScript and React with a little bit of Node.js + MongoDB.
          Also, at the moment I'm learning TypeScript, Next.js and React Native.
        </p>
        <p data-loc="about-par-3">
          I enjoy going places, motorcycling and spending time with good people.
        </p>
        <p>
          <span data-loc="about-par-4.1">Please check my</span>
          <a
            class="description-link"
            href="https://www.linkedin.com/in/diuzhenko/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          <span data-loc="about-par-4.2"
            >for details and feel free to get in touch.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
