body.dark {
  --accent-primary: SlateGray;

  /* Body */
  --background-color: #{$blackish};
  --text-color: gainsboro;

  /* Header */

  --header-nav-link-color: gray;
  --header-nav-link-hover: silver;
  --header-nav-link-active: gainsboro;

  --pagination-bullet: silver;
  --pagination-bullet-current: white;

  /* Buttons */
  --button-text-color: var(--text-color);

  // --button-text-hover: #{$blackish};
  --button-bg-hover: dimgray;

  --button-text-active: dimgray;
  --button-bg-active: #{$blackish};

  /* Theme switcher */
  --theme-switcher-bg-gradient-start: gray;
  --theme-switcher-bg-gradient-end: #{$dark-gray};

  /* Project title animation */
  --swaying-icon-color: gainsboro;

  /* Project card */
  --list-card-image-shadow: transparent;

  /* Modal */
  --modal-background-color: #{$blackish}; // darkSlateGray;
  --modal-close-background-color: gray;

  /* Form */
  --form-field-bg-color: black;
}
