body.dark {
  --accent-primary: SlateGray;

  /* Body */
  --background-color: black;
  --text-color: gainsboro;

  /* Header */
  --header-bg-color: black;

  --header-nav-link-color: gray;
  --header-nav-link-hover: silver;
  --header-nav-link-active: gainsboro;

  /* Buttons */
  --button-text-color: var(--text-color);

  // --button-text-hover: #{$blackish};
  --button-bg-hover: dimgray;

  --button-text-active: dimgray;
  --button-bg-active: #{$blackish};

  /* Theme switcher */
  --theme-switcher-gradient-start: gray;
  --theme-switcher-gradient-end: #{$dark-gray};

  /* Project title animation */
  --swaying-icon-color: gainsboro;
}
