body {
  --accent-primary: #{$lightblue};
  --accent-secondary: #{$gold};

  /* Body */
  --background-color: #{$milky};
  --text-color: #{$blackish};

  /* Header */
  --header-bg-color: white;

  --header-nav-link-color: silver;
  --header-nav-link-hover: gray;
  --header-nav-link-active: var(--text-color);

  /* Theme switcher */
  --theme-switcher-gradient-start: #{$theme-switcher-gradient-start};

  --theme-switcher-gradient-start: gray;

  --theme-switcher-gradient-end: #dcdcdc; // #dcdcdc
}
