<!-- <div class="modal-backdrop email-backdrop is-hidden">
  <div class="modal email-modal">
    <div class="email-confirmation-text"></div>

    <button
      type="button"
      class="email-modal-close-button"
      aria-label="Close the dialog window"
    >
      OK
    </button>
  </div>
</div> -->

<dialog class="email-dialog">
  <form class="email-dialog-form" method="dialog">
    <div class="email-dialog-text"></div>

    <button class="email-dialog-button">OK</button>
  </form>
</dialog>
