<section class="section" id="about">
  <div class="container">
    <h2 class="section-title">About me</h2>
    <div class="about-description">
      <p>
        Hi visitor, my name is Mykhailo and I am a web developer from Ukraine.
      </p>

      <p>
        My current stack is JavaScript / React with a little bit of Node.js /
        MongoDB. I'malso in the middle of learning TypeScript, Next.js and React
        Native.
      </p>

      <p>
        I enjoy going places, motorcycling and spending time with good people.
      </p>

      <p>
        Currently I work in humanitarian mine action, helping clear liberated
        territories of landmines and other explosive ordnance, but once I'm done
        with that, web development awaits.
      </p>

      <p>
        Please check my
        <a
          class="description-link"
          href="https://www.linkedin.com/in/diuzhenko/"
          >LinkedIn</a
        >
        for details.
      </p>
    </div>
  </div>
</section>
