<fieldset class="color-scheme-switcher">
  <legend class="switcher-legend">Color scheme</legend>

  <input
    class="switcher-radio light"
    type="radio"
    id="light"
    name="color-scheme"
    value="light"
    aria-label="light"
  />

  <input
    class="switcher-radio auto"
    type="radio"
    id="auto"
    name="color-scheme"
    value="auto"
    aria-label="auto"
    checked
  />

  <input
    class="switcher-radio dark"
    type="radio"
    id="dark"
    name="color-scheme"
    value="dark"
    aria-label="dark"
  />

  <div class="switcher-status"></div>

  <!-- <div class="labels">
    <label for="light">Light</label><br />
    <label for="auto">System</label><br />
    <label for="dark">Dark</label>
  </div> -->
</fieldset>
