<fieldset class="scheme-switcher">
  <legend class="switcher-legend">Color scheme</legend>

  <label class="switcher-label" for="light"
    >Light
    <input
      class="switcher-radio light"
      type="radio"
      id="light"
      name="color-scheme"
      value="light"
      aria-label="light"
    />

    <svg class="scheme-switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-sun-circled"></use>
    </svg>
  </label>

  <label class="switcher-label" for="auto"
    >Auto
    <input
      class="switcher-radio auto"
      type="radio"
      id="auto"
      name="color-scheme"
      value="auto"
      aria-label="auto"
      checked
    />

    <svg class="scheme-switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-windows"></use>
    </svg>
  </label>

  <label class="switcher-label" for="dark"
    >Dark
    <input
      class="switcher-radio dark"
      type="radio"
      id="dark"
      name="color-scheme"
      value="dark"
      aria-label="dark"
    />

    <svg class="scheme-switcher-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-cloud-circled"></use>
    </svg>
  </label>
</fieldset>
