<section class="section" id="contacts">
  <div class="container">
    <h2 class="section-title" id="contacts-title">Contacts</h2>

    <div class="section-content">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <svg class="contact-icon" width="36" height="36">
            <use href="images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
          <a class="contact-link" href="https://www.linkedin.com/in/diuzhenko/"
            >linkedin.com/in/diuzhenko</a
          >
        </li>
        <!-- <li class="contacts-list-item">
          <svg class="contact-icon" width="36" height="36">
            <use href="images/symbol-defs.svg#icon-telegram"></use>
          </svg>
          <a class="contact-link" href="https://t.me/audi0652">@audi0652</a>
        </li> -->
        <li class="contacts-list-item">
          <svg class="contact-icon" width="36" height="36">
            <use href="images/symbol-defs.svg#icon-email"></use>
          </svg>
          <a class="contact-link" href="mailto:m.dyuzhenko@gmail.com"
            >m.dyuzhenko@gmail.com</a
          >
        </li>
        <li class="contacts-list-item">
          <svg class="contact-icon" width="36" height="36">
            <use href="images/symbol-defs.svg#icon-github"></use>
          </svg>
          <a class="contact-link" href="https://github.com/dev0652"
            >github.com/dev0652</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
