<!-- Contacts from -->

<div class="contact-form-wrapper">
  <h3 class="contact-form-title">Drop me a line</h3>

  <form class="contact-form" id="contact-form" autocomplete="off">
    <label>
      <input
        class="contact-form-name"
        type="text"
        name="from_name"
        required
        id="name"
        placeholder="With whom do I have the pleasure?"
      />
    </label>

    <label>
      <textarea
        class="contact-form-message"
        name="message"
        required
        id="message"
        placeholder="Your message"
        rows="5"
        autocomplete="off"
      ></textarea>
    </label>

    <button class="contact-form-button" type="submit">Submit</button>
  </form>
</div>
