<header class="header">
  <div class="header-container">
    <!-- Navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-item">
          <a class="header-nav-link active" href="#about" data-id="about"
            >About me</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#projects" data-id="projects"
            >Projects</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#contacts" data-id="contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <div class="pagination"></div>

    <load ="partials/color-scheme-switcher.html" />
  </div>
</header>
