<header class="header">
  <div class="header-container">
    <!--  -->
    <!-- Navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-item">
          <a class="header-nav-link active" href="#about" data-id="about"
            >About me</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#projects" data-id="projects"
            >Projects</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#contacts" data-id="contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile headings injection target -->
    <div class="mobile-headings"></div>

    <!-- Color scheme switcher button -->
    <div class="scheme-switcher-menu-group">
      <label
        class="scheme-switcher-menu-label"
        for="scheme-switcher-menu-checkbox"
        >Color scheme

        <input
          class="scheme-switcher-menu-checkbox"
          type="checkbox"
          id="scheme-switcher-menu-checkbox"
          name="scheme-switcher-menu-checkbox"
          aria-label="Color scheme switcher menu toggle"
        />

        <svg class="scheme-switcher-radio-label-icon" width="32" height="32">
          <use href="images/symbol-defs.svg#icon-luminosity"></use>
        </svg>
      </label>

      <div class="scheme-switcher-dropdown-wrapper">
        <div class="scheme-switcher-dropdown">
          <load ="partials/color-scheme-switcher.html" />
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</header>
