fieldset.scheme-switcher {
  position: relative;

  display: flex;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    gap: 10px;
  }

  border: none;
}

.switcher-legend {
  position: absolute;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.switcher-radio {
  appearance: none;
  max-height: 0;
  position: absolute;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.scheme-switcher-icon {
  height: 36px;
  width: 36px;

  @media screen and (min-width: $tablet) {
    height: 30px;
    width: 30px;
  }

  color: var(--scheme-switcher-radio);
  fill: currentColor;

  cursor: pointer;
}

// ***********************************

.scheme-switcher-menu-group {
  position: relative;

  &:has(.scheme-switcher-menu-checkbox:checked)
    .scheme-switcher-dropdown-wrapper {
    @media screen and (max-width: $tablet-1) {
      // opacity: 1;
      transform: translateX(0);
    }

    @media screen and (min-width: $tablet) {
      max-height: 200px;
    }
  }

  @media screen and (max-width: $tablet-1) {
    margin-top: 1rem;
    margin-right: 10px;
  }
}

.scheme-switcher-menu-label {
  @extend %link !optional;
  @extend %stretchable !optional;

  display: flex;
  align-items: center;
  gap: 10px;

  text-transform: uppercase;
  font-size: 0.6rem;
  user-select: none;
  cursor: pointer;

  border: none;
  background-color: transparent;

  .scheme-switcher-radio-label-icon {
    fill: currentColor;
  }

  &:hover,
  &:has(.scheme-switcher-menu-checkbox:checked) {
    letter-spacing: 3px;
  }
}

.scheme-switcher-menu-checkbox {
  appearance: none;
}

.scheme-switcher-dropdown-wrapper {
  position: absolute;

  @media screen and (max-width: $tablet-1) {
    right: 30vw;

    transition: transform 600ms;
    transform: translateX(-100vw);
  }

  @media screen and (min-width: $tablet) {
    right: 0;

    max-height: 0;
    overflow: hidden;

    transition: max-height 300ms ease-in;
  }
}

.scheme-switcher-dropdown {
  margin-top: 5px;
  padding: 20px;
  width: max-content;

  @media screen and (max-width: $tablet-1) {
    padding-left: 100vw;
  }

  @media screen and (min-width: $tablet) {
    width: 130px;
    text-align: right;

    margin-top: 1rem;
    padding: 10px;
  }

  border: 2px solid var(--header-nav-link-color);
  background-color: var(--scheme-switcher-dropdown-bg);

  transition: color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;
}

.switcher-radio-label {
  @extend %link !optional;

  @media screen and (min-width: $tablet) {
    display: flex;

    gap: 20px;
    text-align: right;
    justify-content: end;
    align-items: center;

    text-transform: lowercase;
  }

  transition: color 300ms ease-in;

  &:has(.switcher-radio:checked) {
    color: var(--accent-primary);
  }

  & .scheme-switcher-icon {
    color: currentColor;
  }
}

.switcher-radio-caption {
  @media screen and (max-width: $tablet-1) {
    display: none;
  }
}
