fieldset.scheme-switcher {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: none;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
  }
}

.switcher-legend {
  position: absolute;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.switcher-radio {
  appearance: none;
  max-height: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switcher-icon {
  min-height: 36px;
  min-width: 36px;

  @media screen and (min-width: $tablet) {
    min-height: 30px;
    min-width: 30px;
  }

  // color: var(--scheme-switcher-radio);
  fill: currentColor;

  cursor: pointer;
}

// ***********************************

.scheme-switcher-menu-label {
  @extend %link !optional;

  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column-reverse;

    font-size: 0.8rem;
    text-transform: lowercase;

    overflow: hidden;

    color: var(--text-color);
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0.5rem; // to make up for nav links line-height
    gap: 10px;

    font-size: 0.6rem;
    text-transform: uppercase;

    user-select: none;
    cursor: pointer;

    &:hover,
    &:has(.scheme-switcher-menu-checkbox:checked) {
      letter-spacing: 3px;
    }
  }

  border: none;
  background-color: transparent;

  $td: 600ms;

  transition: color $td, letter-spacing $td;

  .scheme-switcher-radio-label-icon {
    fill: currentColor;
  }
}

.switcher-menu-caption-wrapper {
  @media screen and (max-width: $tablet-1) {
    max-height: 0; // controlled in header.scss

    transition: max-height 300ms;
  }
}

.switcher-menu-caption {
  @media screen and (max-width: $tablet-1) {
    margin-top: 3px;
  }
}

.scheme-switcher-menu-checkbox {
  appearance: none;
}

.scheme-switcher-dropdown-wrapper {
  position: absolute;

  overflow: hidden;
  transition: max-height 300ms ease-in, transform 300ms ease-in;

  @media screen and (max-width: $tablet-1) {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    transform: translateY(0); // controlled in header.scss
  }

  @media screen and (min-width: $tablet) {
    margin-top: 1rem;
    width: 180px;

    max-height: 0;
    right: -10px; // makes up for right padding
  }
}

.scheme-switcher-dropdown {
  background-color: var(--scheme-switcher-dropdown-bg);

  transition: color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;

  padding: 20px 10px;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    text-align: right;

    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--scheme-switcher-dropdown-bg) 50%
    );
  }

  transition: color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;
}

.switcher-radio-label {
  @extend %link !optional;

  display: flex;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column-reverse;
    gap: 5px;
  }

  gap: 20px;
  text-align: right;
  justify-content: end;
  align-items: center;

  text-transform: lowercase;
  cursor: pointer;

  $td: 200ms;
  $tf: ease-in;
  transition: color $td $tf, filter $td $tf;

  color: var(--scheme-switcher-radio);

  & .switcher-icon {
    color: currentColor;
  }

  &:has(.switcher-radio:checked) {
    color: var(--accent-color);

    &:hover {
      filter: brightness(1.3);
    }
  }
}
