// .contacts-list { margin-left: 3rem }

.contacts-list-item {
  display: flex;
  gap: 30px;
  align-items: center;

  font-size: $section-fz-desktop;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-icon {
  $size: 2.2rem;

  height: $size;
  width: $size;

  fill: var(--text-color);
  transition: fill $theme-switch-duration $theme-switch-timing-function;
}

.contact-link {
  @extend %link;

  margin-bottom: 0.4rem;
}
