.contacts-list-item {
  display: flex;
  gap: 30px;
  align-items: center;

  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-icon {
  $size: 2.2rem;

  height: $size;
  width: $size;

  // fill: dimgray;
}

.contact-link {
  @extend %link;

  margin-bottom: 0.4rem;
}
