.contacts-list-item {
  display: flex;
  gap: 30px;
  align-items: center;

  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-icon {
  $size: 46px;

  height: $size;
  width: $size;

  fill: var(--accent-primary);
}

.contact-link {
  color: dimgray;
  display: inline-block;
  margin-bottom: 0.4rem;

  &:hover,
  &:focus-visible {
    color: currentColor;
  }
}
