.menu-label-fullscreen {
  align-self: end;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.dropdown-wrapper-fullscreen {
  .header-menus:has(.fullscreen-menu-checkbox:checked) & {
    transform: translateY(-100%);
    overflow: visible;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// ***************************************

$slider-width: 4rem;
$slider-height: 1.5rem;
$slider-grip-width: 1.25rem;
$slider-border-width: 3px;

.fullscreen-switcher-label {
  display: flex;
  // align-items: start;
  justify-content: space-between;
  gap: 20px;

  outline: none;

  &:has(.fullscreen-switcher-checkbox:focus-visible) {
    outline: auto;
    outline-offset: 0.5rem;
  }

  &:has(.fullscreen-switcher-checkbox:checked) {
    & .fullscreen-slider::before {
      transform: translate(
        calc($slider-width - $slider-grip-width + $slider-border-width),
        -50%
      );
    }

    & .fullscreen-switcher-on {
      display: block;
    }

    & .fullscreen-switcher-off {
      display: none;
    }
  }
}

.fullscreen-switcher-on {
  display: none;
}

.fullscreen-switcher-checkbox {
  appearance: none;
  position: absolute;

  &:focus-visible {
    outline: none;
  }
}

.fullscreen-slider-wrapper {
  position: relative; // for slider positioning

  width: $slider-width;
  height: $slider-height;
}

.fullscreen-slider {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: $slider-border-width solid var(--text-color);
  padding: $slider-border-width;
  // padding: calc($slider-border-width - 1px);

  background-color: var(--accent-color);
  background-clip: content-box;

  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc($slider-border-width * -1);

    height: calc($slider-height + $slider-border-width * 3);
    width: $slider-grip-width;

    border: calc($slider-border-width) solid var(--switcher-menu-dropdown-bg);

    background-color: var(--text-color);
    background-clip: content-box;

    transition: transform 300ms;
  }
}
