.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $index-header;

  width: 100vw;
  // height: var(--blurOffset);

  transition: background-color $theme-switch-duration
      $theme-switch-timing-function,
    color $theme-switch-duration $theme-switch-timing-function;

  background-color: var(--header-bg-color);
}

.header-container {
  @extend .container;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $tablet-1) {
    // height: 100%;
    height: var(--blurOffset);

    flex-direction: column-reverse;
    // justify-content: flex-start;
    justify-content: space-between;
    align-items: end;
  }

  @media screen and (min-width: $tablet) {
    gap: 50px;
  }
}

// *****************************

.mobile-headings {
  @media screen and (min-width: $tablet) {
    display: none;
  }

  align-self: start;
  display: flex;
  gap: 10px;
}

.mobile-section-title {
  font-size: 5rem;
  white-space: nowrap;
  user-select: none;

  color: var(--header-nav-link-color);
  transition: color $theme-switch-duration $theme-switch-timing-function;

  &:first-child {
    //   color: var(--header-nav-link-hover);
    color: var(--header-nav-link-active);
  }
}

// *****************************

.header-nav {
  @media screen and (max-width: $tablet-1) {
    display: none;
    // align-self: start;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;

  gap: 15px;

  @media screen and (min-width: $tablet) {
    gap: 30px;
  }
}

.header-nav-link {
  font-size: 1.2rem;
  @media screen and (min-width: $tablet) {
    font-size: 2rem;
  }

  text-transform: lowercase;
  user-select: none;

  display: block;
  padding: 0.75rem 0 1rem;

  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    padding: 1rem 0 1.5rem;
  }

  color: var(--header-nav-link-color);
  transition: color $theme-switch-duration $theme-switch-timing-function;

  &:hover,
  &:focus-visible {
    color: var(--header-nav-link-hover);
  }

  &.active {
    color: var(--header-nav-link-active);
  }
}
