.header-menus {
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    justify-content: center;
    gap: 5px;

    width: 100%;
    padding: 15px 10px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    gap: 30px;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    gap: 50px;
  }
}

.menu-label {
  @extend %link !optional;

  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column-reverse;

    font-size: 0.8rem;
    text-transform: lowercase;

    overflow: hidden;

    width: 4rem;

    &:not(:has(.menu-checkbox:checked)) {
      color: var(--switcher-label-mobile-inactive);
    }

    &:has(.menu-checkbox:checked) {
      color: var(--text-color);
    }
  }

  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    margin-top: 0.5rem; // to make up for nav links line-height
    gap: 0.5rem;

    font-size: 0.7rem;
    text-transform: uppercase;

    user-select: none;
    cursor: pointer;

    // &:hover .menu-label-icon {
    //   transform: scale(1.05);
    // }

    &:hover,
    &:has(.menu-checkbox:checked) {
      color: var(--text-color);
    }

    &:has(.menu-checkbox:focus-visible) {
      outline: 3px solid var(--text-color);
      outline-offset: 2px;
    }
  }

  $td: 600ms;
  transition:
    color $td,
    width $td;

  .menu-label-icon {
    fill: currentColor;
    // transition: transform $td, fill $td;
    transition: fill $td;
  }
}

.menu-caption-wrapper {
  @media screen and (max-width: $tablet-1) {
    transition: max-height 300ms;

    max-height: 0;
    max-width: 100%;

    .header-container:has(.caption-toggle-checkbox:checked) & {
      max-height: 30px;
    }
  }
}

.menu-caption {
  @media screen and (max-width: $tablet-1) {
    margin-top: 3px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    display: none;
  }
}

.menu-checkbox {
  appearance: none;
}

.dropdown-wrapper {
  position: absolute;

  overflow: hidden;
  transition:
    max-height 300ms ease-in,
    transform 300ms ease-in;

  @media screen and (max-width: $tablet-1) {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    transform: translateY(0);
  }

  @media screen and (min-width: $tablet) {
    margin-top: 1rem;

    top: 100%;
    right: 0;

    max-height: 0;
  }
}

.dropdown {
  transition:
    color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;

  background-color: var(--switcher-menu-dropdown-bg);

  padding: 20px;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--switcher-menu-dropdown-bg) 50%
    );
  }
}

fieldset.switcher {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: none;

  @media screen and (max-width: $tablet-1) {
    width: 100%;
    margin: 10px 20px;
    align-items: start;
  }
}

.switcher-legend {
  font-size: 2.2rem;
  text-transform: lowercase;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }
}

.switcher-radio-label {
  @extend %link !optional;

  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    justify-content: start;

    width: 100%;
    gap: 2rem;

    font-size: 1.7rem;

    &:not(.fullscreen-switcher-label) {
      flex-direction: row-reverse;
    }
  }

  cursor: pointer;

  $td: 200ms;
  $tf: ease-in;
  transition:
    color $td $tf,
    filter $td $tf;

  color: var(--switcher-menu-radio);

  & .switcher-icon {
    color: currentColor;
    transition: fill $td $tf;
  }

  &:has(.switcher-radio:checked) {
    color: var(--text-color);

    @media screen and (min-width: $tablet) {
      color: var(--accent-color);

      &:hover {
        filter: brightness(1.3);
      }
    }
  }

  &:has(.switcher-radio:focus-visible) {
    outline: 3px solid var(--text-color);
    outline-offset: 2px;
  }
}

.switcher-radio {
  appearance: none;

  @media screen and (max-width: $tablet-1) {
    $size: 1.5rem;
    $outline: calc($size * 0.23);

    height: $size;
    width: $size;

    border-radius: 50%;
    border: 4px solid var(--switcher-menu-radio);

    margin-top: $outline;

    &:checked {
      // border-color: var(--text-color);
      outline: $outline solid var(--accent-color);
      outline-offset: -1rem; // dot in the middle :-)
    }
  }

  @media screen and (min-width: $tablet) {
    max-height: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
