.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  background-color: #fff;
}

.header-container {
  @extend .container;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.nav {
  // display: none;

  // @media screen and (min-width: $desktop) {
  //   display: block;
  //   flex-grow: 1;
  // }
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link {
  font-size: 2rem;
  text-transform: lowercase;

  color: silver;
  display: block;
  // height: 100%;
  padding: 0.1rem 0 0.5rem;

  &::first-letter {
    // color: var(--accent-primary);
  }

  // @media screen and (min-width: $desktop) {
  //   padding: 35px 0;
  // }

  &:hover,
  &:focus-visible {
    color: gray;
  }

  &.active {
    color: inherit;
  }

  .sticky-header & {
    padding: 25px 0;
  }
}

.nav-item {
  // @media screen and (min-width: $desktop) {
  //   &:last-child {
  //     margin-left: auto;
  //   }
  // }
}

// .header-logo-link,
// .nav-link,
// .burger-button {
//   &:hover,
//   &:focus-visible {
//     color: inherit;
//   }
// }
