.language-menu-label {
  @extend %link !optional;

  display: flex;
  align-items: center;

  align-self: end;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column-reverse;

    font-size: 0.8rem;
    text-transform: lowercase;

    overflow: hidden;

    &:not(:has(.language-menu-checkbox:checked)) {
      color: var(--scheme-switcher-label-inactive);
    }

    &:has(.language-menu-checkbox:checked) {
      color: var(--text-color);
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0.5rem; // to make up for nav links line-height
    gap: 10px;

    font-size: 0.6rem;
    text-transform: uppercase;

    user-select: none;
    cursor: pointer;

    &:hover,
    &:has(.language-menu-checkbox:checked) {
      letter-spacing: 3px;
      color: var(--text-color);
    }

    &:has(.language-menu-checkbox:focus-visible) {
      outline: 3px solid var(--text-color);
      outline-offset: 2px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 150px;
    align-self: flex-end;
  }

  border: none;
  background-color: transparent;

  $td: 600ms;

  transition: color $td, letter-spacing $td;

  .language-menu-label-icon {
    fill: currentColor;
  }
}

// ***********************************

.language-menu-caption-wrapper {
  @media screen and (max-width: $tablet-1) {
    transition: max-height 300ms;

    max-height: 0;

    .header-container:has(.caption-toggle-checkbox:checked) & {
      max-height: 30px;
    }
  }
}

.language-menu-caption {
  @media screen and (max-width: $tablet-1) {
    margin-top: 3px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    display: none;
  }
}

.language-menu-checkbox {
  appearance: none;
}

// ***********************************

.language-switcher-dropdown-wrapper {
  position: absolute;

  overflow: hidden;
  transition: max-height 300ms ease-in, transform 300ms ease-in;

  @media screen and (max-width: $tablet-1) {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    transform: translateY(0);

    .header-menus:has(.language-menu-checkbox:checked) & {
      transform: translateY(-100%);
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 1rem;

    top: 100%;
    right: -10px; // makes up for right padding
    right: 0;

    width: 100px;
    max-height: 0;

    .header-menus:has(.language-menu-checkbox:checked) & {
      max-height: 200px;
      height: fit-content;
    }
  }

  @media screen and (min-width: $desktop) {
    // width: 180px;
    // left: -10px;
    right: -10px; // makes up for right padding
  }
}

.language-switcher-dropdown {
  transition: color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;

  background-color: var(--scheme-switcher-dropdown-bg);

  padding: 20px 10px;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    // text-align: right;

    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--scheme-switcher-dropdown-bg) 50%
    );
  }
}

// ***********************************

fieldset.language-switcher {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: none;

  @media screen and (max-width: $tablet-1) {
    width: 100%;
    margin: 10px 20px;
    align-items: start;
  }
}

.language-switcher-legend {
  font-size: 2.5rem;
  text-transform: lowercase;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
  }
}

.language-switcher-radio {
  appearance: none;

  @media screen and (max-width: $tablet-1) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid var(--text-color);

    margin-top: 0.5rem;

    &:checked {
      // background-color: blue;
      outline: 6px solid var(--text-color);
      outline-offset: -15px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-height: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.language-switcher-radio-label {
  @extend %link !optional;

  // display: flex;

  @media screen and (max-width: $tablet-1) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;

    width: 100%;
    gap: 2rem;

    font-size: 2rem;
    text-transform: lowercase;
  }

  // gap: 20px;
  text-align: center;
  // justify-content: end;
  // align-items: center;

  text-transform: uppercase;
  cursor: pointer;

  $td: 200ms;
  $tf: ease-in;
  transition: color $td $tf, filter $td $tf;

  color: var(--scheme-switcher-radio);

  & .language-switcher-icon {
    color: currentColor;
  }

  &:has(.language-switcher-radio:checked) {
    color: var(--accent-color);

    &:hover {
      filter: brightness(1.3);
    }
  }

  &:has(.language-switcher-radio:focus-visible) {
    outline: 3px solid var(--text-color);
    outline-offset: 2px;
  }
}
