.language-menu-label {
  @extend %link !optional;

  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet-1) {
    flex-direction: column-reverse;

    font-size: 0.8rem;
    text-transform: lowercase;

    overflow: hidden;

    &:not(:has(.language-menu-checkbox:checked)) {
      color: var(--scheme-switcher-label-inactive);
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0.5rem; // to make up for nav links line-height
    gap: 10px;

    font-size: 0.6rem;
    text-transform: uppercase;

    user-select: none;
    cursor: pointer;

    &:hover,
    &:has(.language-menu-checkbox:checked) {
      letter-spacing: 3px;
      color: var(--text-color);
    }
  }

  border: none;
  background-color: transparent;

  $td: 600ms;

  transition: color $td, letter-spacing $td;

  .language-menu-label-icon {
    fill: currentColor;
  }
}

// ***********************************

.language-menu-caption-wrapper {
  @media screen and (max-width: $tablet-1) {
    transition: max-height 300ms;

    max-height: 0;

    .header-container:has(.caption-toggle-checkbox:checked) & {
      max-height: 30px;
    }
  }
}

.language-menu-caption {
  @media screen and (max-width: $tablet-1) {
    margin-top: 3px;
  }
}

.language-menu-checkbox {
  appearance: none;
}

// ***********************************

.language-switcher-dropdown-wrapper {
  position: absolute;

  overflow: hidden;
  transition: max-height 300ms ease-in, transform 300ms ease-in;

  @media screen and (max-width: $tablet-1) {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    transform: translateY(0);

    .header-menus:has(.language-menu-checkbox:checked) & {
      transform: translateY(-100%);
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 1rem;
    width: 100px;

    top: 100%;
    right: -10px; // makes up for right padding

    max-height: 0;

    .header-menus:has(.language-menu-checkbox:checked) & {
      max-height: 200px;
      height: fit-content;
    }
  }
}

.language-switcher-dropdown {
  transition: color $scheme-switch-duration $scheme-switch-timing-function,
    background-color $scheme-switch-duration $scheme-switch-timing-function;

  background-color: var(--scheme-switcher-dropdown-bg);

  padding: 20px 10px;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    // text-align: right;

    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--scheme-switcher-dropdown-bg) 50%
    );
  }
}

// ***********************************

fieldset.language-switcher {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: none;

  @media screen and (max-width: $tablet-1) {
    width: 100%;

    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
  }
}

.language-switcher-legend {
  position: absolute;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.language-switcher-radio {
  appearance: none;
  max-height: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.language-switcher-radio-label {
  @extend %link !optional;

  // display: flex;

  // @media screen and (max-width: $tablet-1) {
  //   flex-direction: column-reverse;
  //   gap: 5px;
  // }

  // gap: 20px;
  text-align: center;
  // justify-content: end;
  // align-items: center;

  text-transform: uppercase;
  cursor: pointer;

  $td: 200ms;
  $tf: ease-in;
  transition: color $td $tf, filter $td $tf;

  color: var(--scheme-switcher-radio);

  & .language-switcher-icon {
    color: currentColor;
  }

  &:has(.language-switcher-radio:checked) {
    color: var(--accent-color);

    &:hover {
      filter: brightness(1.3);
    }
  }
}
