.menu-label-language {
  align-self: end;

  @media screen and (min-width: $tablet) {
    align-self: flex-end;
  }
}

.dropdown-wrapper-language {
  @media screen and (min-width: $tablet) {
    width: 100px;

    .header-menus:has(.language-menu-checkbox:checked) & {
      max-height: 200px;
      height: fit-content;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 130px;
    right: -10px; // makes up for right padding
  }
}

.switcher.language-switcher {
  align-items: center;
}

.language-switcher-dropdown {
}

.language-switcher-radio-label {
  @media screen and (max-width: $tablet-1) {
    text-transform: lowercase;
  }

  text-align: center;

  text-transform: uppercase;
}
