// Backdrop
.popup-modal-backdrop,
.email-modal-backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(SlateGray, 0.7);

  opacity: 1;
  z-index: $index-modal-backdrop;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

// Modal windows

// Shared styles:
.modal {
  z-index: $index-modal;
  position: absolute;
  bottom: 0;

  overflow-y: auto;
  overflow-x: hidden;

  color: var(--text-color);
  background-color: var(--modal-background-color);

  padding: 20px;

  @media screen and (max-width: $tablet-1) {
    padding-bottom: $single-gap * 4;
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // centering

    height: max-content;
    padding: 40px;
  }
}

// Tile card modal
.popup-modal {
  @media screen and (min-width: $tablet) {
    width: 600px;
    max-height: 90vh;
  }

  @media screen and (min-width: $desktop) {
    width: 700px;
  }

  .popup-modal-backdrop:not(.is-hidden) & {
    animation: slide-in-from-below 600ms;

    @media screen and (min-width: $tablet) {
      animation: emerge 600ms;
    }
  }
}

// Email dialog modal
.email-modal {
  @media screen and (min-width: $tablet) {
    padding: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding: 50px 70px;
  }

  .email-modal-backdrop:not(.is-hidden) & {
    animation: emerge 400ms;
  }
}

// Content injection div inside .modal

.modal-content-injection-target {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 24px;
  }
}

.email-confirmation-text {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

// Injected content

.modal-title {
  margin-bottom: $single-gap;

  @media screen and (min-width: $tablet) {
    margin-bottom: $single-gap * 2;
  }
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (min-width: $desktop) {
    gap: 20px;
  }
}

.summary-columns-wrapper {
  margin-bottom: 5px;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 50px;
  }

  @media screen and (min-width: $desktop) {
    gap: 70px;
  }
}

.modal-project-links-wrapper {
  display: flex;
  gap: $single-gap;

  @media screen and (min-width: $tablet) {
    gap: $single-gap * 3;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
  }
}

.modal-project-link {
  @extend %button !optional;

  font-size: 1.5rem;

  width: calc(50% - 5px);

  @media screen and (min-width: $desktop) {
    width: auto;
    min-width: 250px;
  }
}

.project-card-image {
  .modal-image-block & {
    object-fit: contain;
    object-position: top;
    height: 100%;
    width: 100%;
  }
}

// Close button

.popup-modal-close-button {
  position: absolute;

  top: 30px;
  right: 30px;
  padding: 2px;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
    padding: 6px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: var(--modal-close-background-color);
  }

  &:active {
    background-color: darkSlateGray;
  }
}

.popup-modal-close-button-icon {
  fill: var(--text-color);

  .popup-modal-close-button:hover &,
  .popup-modal-close-button:focus-visible & {
    fill: black;
  }

  .popup-modal-close-button:active & {
    fill: gainsboro;
  }

  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;
  }
}

.email-modal-close-button {
  @extend %button !optional;

  font-size: 1.5rem;

  @media screen and (min-width: $tablet) {
    $horizontal-padding: 70px;

    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}
