// Backdrop

.modal-backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(SlateGray, 0.7);

  opacity: 1;
  // cursor: pointer;
  z-index: $index-modal-backdrop;
  // padding: 94px 15px;
  // overflow-y: scroll;
  // overscroll-behavior: none;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

// Modal window

.modal {
  z-index: $index-modal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); // centering

  padding: 40px 24px;
  overflow-y: auto;
  overflow-x: hidden;

  min-width: 400px;
  max-height: 80vh;

  color: var(--text-color);
  background-color: var(--modal-background-color);
  border: 1px solid var(--text-color);

  @media screen and (min-width: $tablet) {
    max-width: 600px;
    min-height: 465px;
    padding: 40px;
  }
}

.close-button {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  // border-radius: 50%;

  // border: 1px solid #000;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
  }

  padding: 2px;

  @media screen and (min-width: $tablet) {
    padding: 4px;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--modal-close-background-color);
  }
}

.close-button-icon {
  fill: var(--text-color);

  .close-button:hover &,
  .close-button:focus-visible & {
    fill: black;
  }

  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;
  }
}

.modal-content-injection-target {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}

// Injected content

.modal-title {
  margin-bottom: 20px;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-project-links-wrapper {
  display: flex;
  gap: 30px;
}

// .project-link {}
