.footer {
  @media screen and (min-width: $tablet) {
    display: none;
  }

  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;

  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-list {
  display: flex;
  gap: 1rem;
}

.pagination-bullet {
  $size: 0.5rem;

  width: $size;
  height: $size;
  border-radius: 30%; // ?
  background-color: var(--pagination-bullet);

  transition: transform $bullet-td, background-color $bullet-td;

  &.current {
    transform: scale(1.7);
    background-color: var(--pagination-bullet-current);
  }
}
