.project-card-list {
  &.gallery-view {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.card-title {
  @extend %link;

  cursor: pointer;
  user-select: none;
  display: inline-block;

  text-transform: lowercase;
  font-size: 2rem;

  color: gray;

  &:hover,
  &:focus {
    color: currentColor;
  }

  &.content-expanded {
    color: var(--accent-primary);
  }
}

.card-collapsible-wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.card-collapsible {
  height: 300px;
  width: 500px;

  margin: 1rem 0;
  margin-left: 5rem;
}

.project-card-link {
  display: block;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 2000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 600ms;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--accent-primary);
  color: var(--background-color);
  transform: rotateY(180deg);

  text-align: left;
  padding: 20px;
}

.project-card-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.project-type {
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.project-description {
}
