.projects-view-switch {
  @extend %link !optional;

  cursor: pointer;
  user-select: none;

  text-align: right;
  text-transform: lowercase;

  position: relative;
  top: -40px;
}

.project-card-list {
  &.gallery-view {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.card-title {
  //
  .project-card-list.gallery-view & {
    display: none;
  }

  @extend %link !optional;

  cursor: pointer;
  user-select: none;
  display: inline-block;

  text-transform: lowercase;
  font-size: 2rem;

  &.content-expanded {
    color: currentColor;
  }
}

.card-collapsible-wrapper {
  max-height: 0px;
  overflow: hidden;

  &.transition {
    transition: max-height 400ms ease-out;
  }

  .project-card-list.gallery-view & {
    max-height: 100%;
    overflow: visible;
  }
}

.card-collapsible {
  height: 300px;
  width: 500px;

  margin: 1rem 0;
  margin-left: 5rem;

  .project-card-list.gallery-view & {
    width: 400px;
    height: 250px;
    margin: 0;

    @media screen and (max-width: ($tablet - 1px)) {
      @include flex-basis(1);
    }

    @media screen and (min-width: $tablet) {
      @include flex-basis(2);
      width: calc($tablet / 2 - 20px);
    }

    @media screen and (min-width: $desktop) {
      @include flex-basis(3);
    }
  }
}

.project-card-link {
  display: block; // to enable 3d effects
}

// Flip cards

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 2000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 600ms;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: var(--accent-primary);
  color: var(--background-color);
  transform: rotateY(180deg);

  text-align: left;
  padding: 20px;
}

.project-card-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.project-type {
  font-size: 0.9rem;
  margin-bottom: 30px;
}
