@media screen and (max-width: $tablet-1) {
  .swipe {
    position: relative;
    overflow: hidden;
    visibility: hidden;
  }
  .swipe-wrap {
    position: relative;
    overflow: hidden;
    // display: flex;
  }
  .swipe-wrap > .section {
    float: left; // omg
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}
