:root {
  --milky: #f6f6f6;
  --white-gray: #f7f7f7;
  --light-gray: #dcdcdc;
  --dark-gray: #202024;
  --blackish: #111111;
  --gray: #b4afaf;
  --lightblue: #2980b9;
  --gold: #eac645;
  --green: darkolivegreen;
}
