:root {
  --dark-gray: #202024;
  --blackish: #111111;
  --smoke-gray: #2a3439;
  --light-blue: #2980b9;
  --antracite: #0d1117;

  /* Accent */
  --accent-color: var(--light-blue);

  /* Body */
  --text-color: gainsboro;
  --background-color: black;
  @media screen and (min-width: 768px) {
    --background-color: var(--antracite); /* #0c090a */
  }

  /* Header */
  --header-bg-color: var(--background-color);

  --header-nav-link-color: gray;
  --header-nav-link-hover: silver;
  --header-nav-link-active: var(--text-color);

  --pagination-bullet: silver;
  --pagination-bullet-current: white;

  --mobile-menu-bg: #262627;

  /* Buttons */
  --button-text-color: var(--text-color);
  --button-text-hover: var(--blackish);
  --button-bg-hover: dimgray;

  --button-text-active: dimgray;
  --button-bg-active: var(--blackish);

  /* Switcher menus */

  --switcher-label-mobile-inactive: darkgray;

  --switcher-menu-dropdown-bg: var(--antracite);
  @media screen and (min-width: 768px) {
    --switcher-menu-dropdown-bg: var(--dark-gray);
  }

  --switcher-menu-radio: darkgray;
  @media screen and (min-width: 768px) {
    --switcher-menu-radio: gray;
  }

  /* Project title animation */
  --swaying-icon-color: gainsboro;

  /* Project card */
  --list-card-image-shadow: transparent;
  --flip-card-bg: var(--smoke-gray);
  --flip-card-text: silver;

  /* Modal */
  --modal-close-button-bg: gray;
  --modal-mobile-action-bar-bg: var(--dark-gray);
  --modal-scrollbar-bg: #161f37;
  --modal-scrollbar-thumb: #434d67;

  /* Form */
  --form-field-bg-color: rgba(0, 0, 0, 0.4);
}
