:root {
  --dark-gray: #202024;
  --blackish: #111111;
  --smoke-gray: #2a3439;
  --light-blue: #2980b9;

  /* Accent */
  --accent-color: var(--light-blue);

  /* Body */
  --background-color: #0c090a;
  --text-color: gainsboro;

  /* Header */
  --header-bg-color: var(--background-color);

  --header-nav-link-color: gray;
  --header-nav-link-hover: silver;
  --header-nav-link-active: gainsboro;

  --pagination-bullet: silver;
  --pagination-bullet-current: white;

  /* Buttons */
  --button-text-color: var(--text-color);
  --button-text-hover: var(--blackish);
  --button-bg-hover: dimgray;

  --button-text-active: dimgray;
  --button-bg-active: var(--blackish);

  /* Theme switcher */
  --scheme-switcher-bg-gradient-start: gray;
  --scheme-switcher-bg-gradient-end: var(--dark-gray);

  --scheme-switcher-dropdown-bg: var(--dark-gray);

  --scheme-switcher-radio: var(--header-nav-link-color);
  --scheme-switcher-radio-checked: var(--text-color);

  /* Project title animation */
  --swaying-icon-color: gainsboro;

  /* Project card */
  --list-card-image-shadow: transparent;
  --flip-card-bg: #2a3439;
  --flip-card-text: silver;

  /* Modal */
  --modal-background-color: var(--blackish);
  --modal-close-background-color: gray;

  /* Form */
  --form-field-bg-color: var(--blackish);
}
