:root {
  --light-gray: #dcdcdc;
  --blackish: #111111;
  --light-blue: #2980b9;

  /* Accent */
  --accent-color: var(--light-blue);

  /* Body */
  --text-color: var(--blackish);
  --background-color: white;

  @media screen and (min-width: 768px) {
    --background-color: snow;
  }

  /* Header */
  --header-bg-color: var(--background-color);

  --header-nav-link-color: silver;
  --header-nav-link-hover: gray;
  --header-nav-link-active: var(--text-color);

  --pagination-bullet: gray;
  --pagination-bullet-current: black;

  --mobile-menu-bg: #f2f3f4;

  /* Buttons */
  --button-text-color: var(--text-color);
  --button-text-hover: var(--blackish);
  --button-bg-hover: silver;

  --button-text-active: var(--button-text-hover);
  --button-bg-active: darkgray;

  /* Theme switcher */
  --scheme-switcher-bg-gradient-start: gray;
  --scheme-switcher-bg-gradient-end: var(--light-gray);

  --switcher-label-mobile-inactive: dimgray;

  --scheme-switcher-dropdown-bg: rgb(236, 235, 235);
  @media screen and (min-width: 768px) {
    --scheme-switcher-dropdown-bg: #f2f3f4;
  }

  --scheme-switcher-radio: var(--text-color);
  @media screen and (min-width: 768px) {
    --scheme-switcher-radio: gray;
  }

  /* Project title animation */
  --swaying-icon-color: gray;

  /* Project card */
  --list-card-image-shadow: var(--light-gray);
  --flip-card-bg: var(--accent-color);
  --flip-card-text: var(--background-color);

  /* Modal */
  --modal-close-button-bg: silver;
  --modal-scrollbar-bg: gainsboro;
  --modal-scrollbar-thumb: gray;

  /* Form */
  --form-field-bg-color: white;
}
