:root {
  --light-gray: #dcdcdc;
  --blackish: #111111;

  --accent-primary: #2980b9;

  /* Body */
  --background-color: snow;
  --text-color: var(--blackish);

  /* Header */
  --header-bg-color: var(--background-color);

  --header-nav-link-color: silver;
  --header-nav-link-hover: gray;
  --header-nav-link-active: var(--text-color);

  --pagination-bullet: gray;
  --pagination-bullet-current: black;

  /* Buttons */
  --button-text-color: var(--text-color);
  --button-text-hover: var(--blackish);
  --button-bg-hover: silver;

  --button-text-active: var(--button-text-hover);
  --button-bg-active: darkgray;

  /* Theme switcher */
  --scheme-switcher-bg-gradient-start: gray;
  --scheme-switcher-bg-gradient-end: var(--light-gray);

  --scheme-switcher-dropdown-bg: #f2f3f4;

  --scheme-switcher-radio: var(--header-nav-link-color);
  --scheme-switcher-radio-checked: var(--text-color);

  /* Project title animation */
  --swaying-icon-color: gray;

  /* Project card */
  --list-card-image-shadow: var(--light-gray);

  /* Modal */
  --modal-background-color: var(--background-color);
  --modal-close-background-color: silver;

  /* Form */
  --form-field-bg-color: white;
}
