<footer class="footer">
  <div class="footer-container">
    <!-- Pagination injection target -->
    <nav class="pagination" aria-label="Pagination navigation"></nav>

    <!-- Mobile menu captions toggle (three dots) -->
    <label class="mobile-menu-toggle-label" for="mobile-menu-toggle-checkbox">
      <input
        class="mobile-menu-toggle-checkbox"
        type="checkbox"
        id="mobile-menu-toggle-checkbox"
        aria-label="mobile-menu menu icons captions"
        checked
      />

      <!-- <svg class="mobile-menu-toggle-icon" width="32" height="32">
      <use href="images/symbol-defs.svg#icon-overflowdots"></use>
    </svg> -->
    </label>
  </div>
</footer>
