<header class="header">
  <div class="header-container">
    <!--  -->
    <!-- Navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-item">
          <a
            class="header-nav-link active"
            href="#about"
            data-id="about"
            data-loc="about"
            >About me</a
          >
        </li>

        <li class="nav-item">
          <a
            class="header-nav-link"
            href="#projects"
            data-id="projects"
            data-loc="projects"
            >Projects</a
          >
        </li>

        <li class="nav-item">
          <a
            class="header-nav-link"
            href="#contacts"
            data-id="contacts"
            data-loc="contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <!-- Color scheme and language menus -->
    <div class="header-menus">
      <load ="partials/components/color-scheme-menu.html" />
      <load ="partials/components/language-menu.html" />
      <load ="partials/components/fullScreen-menu.html" />
    </div>

    <!-- Mobile menu captions toggle  -->
    <label class="caption-toggle-label" for="caption-toggle-checkbox">
      <input
        class="caption-toggle-checkbox"
        type="checkbox"
        id="caption-toggle-checkbox"
        name="caption-toggle-checkbox"
        aria-label="Toggle menu icons captions"
      />

      <svg class="caption-toggle-icon" width="32" height="32">
        <use href="images/symbol-defs.svg#icon-overflowdots"></use>
      </svg>
    </label>


    </div>
  </div>
</header>
