<header class="header">
  <div class="header-container">
    <!--  -->
    <!-- Navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-item">
          <a class="header-nav-link active" href="#about" data-id="about"
            >About me</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#projects" data-id="projects"
            >Projects</a
          >
        </li>

        <li class="nav-item">
          <a class="header-nav-link" href="#contacts" data-id="contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <!-- Menus (color schemes + language) -->
    <div class="header-menus">
      <!-- Color theme switcher menu toggle (label + icon) -->
      <label
        class="scheme-switcher-menu-label"
        for="scheme-switcher-menu-checkbox"
      >
        <div class="switcher-menu-caption-wrapper">
          <p class="switcher-menu-caption">Color scheme</p>
        </div>

        <input
          class="scheme-switcher-menu-checkbox"
          type="checkbox"
          id="scheme-switcher-menu-checkbox"
          name="scheme-switcher-menu-checkbox"
          aria-label="Color scheme switcher menu toggle"
          checked
        />

        <svg class="scheme-switcher-radio-label-icon" width="32" height="32">
          <use href="images/symbol-defs.svg#icon-luminosity"></use>
        </svg>
      </label>

      <!-- Color theme switcher menu toggle (label + icon) -->
      <div class="scheme-switcher-dropdown-wrapper">
        <div class="scheme-switcher-dropdown">
          <load ="partials/components/color-scheme-switcher.html" />
        </div>
      </div>
    </div>

    <!-- Menus toggle (mobile view)  -->
    <label class="caption-toggle-label" for="caption-toggle-checkbox">
      <input
        class="caption-toggle-checkbox"
        type="checkbox"
        id="caption-toggle-checkbox"
        name="caption-toggle-checkbox"
        aria-label="Toggle menu icons captions"
      />

      <svg class="caption-toggle-icon" width="32" height="32">
        <use href="images/symbol-defs.svg#icon-overflowdots"></use>
      </svg>
    </label>
  </div>
</header>
