<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>dev0652</title>
  <meta
    name="description"
    content="This is a portfolio website of full-stack web developer Mykhailo Diuzhenko from Ukraine"
  />

  <!-- Color schemes -->
  <meta name="color-scheme" content="light dark" />

  <style type="text/css">
    body.hidden-to-avoid-content-flashing {
      visibility: hidden;
    }
  </style>

  <link
    rel="stylesheet"
    href="/css/color-schemes/light.css"
    media="(prefers-color-scheme: light)"
  />

  <link
    rel="stylesheet"
    href="/css/color-schemes/dark.css"
    media="(prefers-color-scheme: dark)"
  />

  <link rel="stylesheet" href="/sass/index.scss" />

  <!-- Tells the Dark Reader extension to ignore this website -->
  <meta name="darkreader" content="UID" />

  <!-- Styles -->
  <style>
    @font-face {
      font-family: 'Segoe WP';
      font-style: normal;
      font-weight: normal;
      src: local('Segoe WP'), url('/fonts/SegoeWP.woff') format('woff');
      font-display: swap;
    }
  </style>

  <!-- Favicon -->
  <load ="partials/head/favicon.html" />
</head>
